.project{
  &-page{
  }
  &-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    max-width: 1024px;
    margin: 0 auto;
  }
}
@media (hover: hover) and (pointer: fine) {
  
}