.intro-hero {
  display: flex;

  &>* {
    flex: 1;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .about-msg {
      order: 1;
    }
  }
}

.intro-msg {
  margin-bottom: 40px;
  color: var(--color-white);
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  line-height: 1.5;
  letter-spacing: 3px;

  @media screen and (max-width:768px) {
    display: none;
  }
}

.about-msg {
  li {
    margin-bottom: 32px;
    word-break: keep-all;
  }

  &__title {
    display: flex;
    margin-bottom: 12px;
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    color: var(--color-dark-navy);
    line-height: 1.25;
  }

  &__desc {
    &::before {
      content: '-';
      margin-left: -12px;
      margin-right: 4px;
    }

    padding-left: 14px;
    font-size: var(--font-regular);
    color: var(--color-dark-navy);
    line-height: 1.3;
  }
}