.footer {
  &__wrapper{
    position: relative;
    margin-top: auto;
    flex:none;
    padding: 30px 0 50px;
    text-align: center;
    transition: all var(--animation-duration);
  }
  &__contact{
    transition: all var(--animation-duration);
  }
  &__title {
    margin:0 0 16px;
    font-size: var(--font-medium);
    font-weight: var( --weight-bold);
  }
  &__title, &__description, &__copyright {
    color:var(--color-white);
  }
  &__description{
    display: block;
    margin: 12px 0;
  }
  &__links {
    width: 28px;
    height: 28px;
    margin: 0 auto 24px;
    transition:all var(--animation-duration) ease-in;
    color: var(--color-white);
    a{
      display: block;
      svg{
        height: 100%;
      }
    }
    &:hover{
      transform:scale(1.1);
      color: #DC00B0;
    }
  }
  &__copyright {
    margin: 48px 0 0;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.is-contact-page{
  flex: 100%;
  padding-top: 20px;
  .footer__contact{
    transform: scale(1.9);
  }
}