.header {
  &__wrapper {
    z-index: 1111;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    background-color: var(--color-white);
    transition: padding var(--animation-duration);
    padding: 0 12px;

    &.is-scrolled {
      padding: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: var(--inner-width);
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (max-width:768px) {
      flex-direction: column;
    }
  }

  &__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black-3);
    vertical-align: middle;
  }
}

/* Navs */
.nav {
  &__wrapper {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 16px 0;
    color: var(--color-black-3);
    transition: all var(--animation-duration) ease-in-out;
    z-index: 400;

    &.navbar--dark {
      background-color: var(--color-pink);
      padding: 8px;
    }

    @media screen and (max-width:768px) {
      margin: 0;
      padding: 8px 0;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 24px;

    &__item {
      margin: 0 4px;
      cursor: pointer;
      color: var(--color-black-3);
      transition: all var(--animation-duration);

      &.active {
        a {
          border-radius: var(--size-border-radius);
          border: 1px solid var(--color-white);
        }
      }

      a {
        position: relative;
        display: block;
        padding: 8px 12px;
        border: 1px solid transparent;
        transition: all var(--animation-duration);
        border-radius: var(--size-border-radius);
        text-align: center;

        &:hover {
          border: 1px solid var(--color-white);
          transform: translateY(-2px);
        }
      }
    }
  }

  &__toggle-btn {
    display: none;
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-black-3);
  }
}