@use "@/styles/_mixins" as mixin;
.project-box{
    background-color: #efefef;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: var(--size-box-border-radius);
    overflow: hidden;
    transition: all var(--animation-duration);
    &__inner{
        padding: 16px 16px 24px;
    }
    &__img{
        position: relative;
        height: 160px;
    }
    &__title{
        display: flex;
        align-items: center;
        font-size: var(--font-regular);
        font-weight: var(--weight-bold);
        line-height: 1.2;
    }
    &__link{
        font-size: 0;
        display: block;
        width: 24px;
        height: 28px;
        background: url('/public/icon/ico_link-24-white.svg') center/contain no-repeat;
    }
    &__desc{
        margin-top: 8px;
        font-size: var(--font-small);
        line-height: 1.4;
    }
    &__date{
        font-size: var(--font-micro);
    }
    .skill-list{
        margin-top: 16px;
    }
}
.skill-list{
    display: flex;
    gap: 8px;
    &__item{
        @include mixin.flexCenter;
        height: 24px;
        padding: 0 12px;
        font-size: var(--font-micro);
        border-radius: var(--size-border-radius);
        background-color: #fe918d;
        color: var(--color-black-3);
        cursor: default;
    }   
}