// Colors
$common-colors: (
  // 브랜드 & 테마 색상
  primary: #0f62fe,
  secondary: #ff5151,
  accent: #00ff00,

  blue: #73aace,
  dark-navy: #2e3d49,
  pink: #fe918d,
  dark-pink: #ff6863,
  dark-grey: #4d4d4d,
  light-grey: #7c7979,
  yellow: #fff7d1,
  orange: #feb546,

  // 상태 색상
  success: #2ecc71,
  warning: #f1c40f,
  error: #e74c3c,
  info: #3498db,

  // 그레이 스케일
  white: #ffffff,
  light-white: #eeeeee,
  dark-white: #bdbdbd,

  gray-100: #f8f9fa,
  gray-200: #e9ecef,
  gray-300: #dee2e6,
  gray-400: #ced4da,
  gray-500: #adb5bd,
  gray-600: #6c757d,
  gray-700: #495057,
  gray-800: #343a40,
  gray-900: #212529
);

// animation, transition
$duration: 200ms !default;
$easing: ease-in-out !default;

// Breakpoint
$gap: 1px !default;
$mobile: 375px + $gap !default;
$tablet: 768px + $gap !default;
$desktop: 1024px + $gap !default;
$laptop: 1366px + $gap !default;
$fullhd: 1920px + $gap !default;
$qhd: 2560px + $gap !default;