$common-colors: (
  white: #ffffff,
  black-0: #000000,
  black-1: #DBDBDB,
  black-2: #666666,
  black-3: #1F1F1F,
  primary: #0F62FE,
  dark-navy:#2e3d49,
  secondary: #FF5151,
  light-white: #eeeeee,
  dark-white: #bdbdbd,
  pink: #fe918d,
  dark-pink: #ff6863,
  dark-grey: #4d4d4d,
  grey: #616161,
  light-grey: #7c7979,
  blue: #73aace,
  yellow: #fff7d1,
  orange: #feb546,
);

:root {
  @each $name, $color in $common-colors {
    --color-#{"" + $name}: #{$color};
  }

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  --size-box-border-radius: 16px;
  --header-height:80px;
  --inner-width:1920px;

  /* Animation */
  --animation-duration:300ms;
}

@media screen and (max-width:768px) {
  :root {
    --header-height: 120px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    //--background: #0a0a0a;
    --foreground: #ededed;
  }
}